<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<form th:action="@{/register}" th:object="${userDto}" method="post">
    <h1>Cadastre-se</h1>

    <div th:if="${param.error}" style="color: red; text-align: center; margin-bottom: 10px;">
        Este nome de usuário já está em uso.
    </div>

    <label>Usuário (Login):</label>
    <input type="text" th:field="*{login}" required/><br/>

    <label>Senha:</label>
    <input type="password" th:field="*{senha}" required/><br/>

    <button type="submit">💾 Cadastrar</button>
</form>

<p style="text-align:center; margin-top:15px;">
    <a class="btn" th:href="@{/login}">⬅ Voltar para o Login</a>
</p>

</body>
</html>